body {
  background-color: #efefef;
}

.quality {
  text-align: center;
}

#email {
  width: 200px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.button {
  padding: 10px 10px;
  border-radius: 5px;
}
.content {
  text-align: center;
  font-size: 25px;
}

.video-box {
  text-align: center;
}
h2 {
  text-decoration: underline;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  padding: 3px;
  margin-right: 10px;
}

#header-img {
  width: 913px;
  letter-spacing: 4px;
}

.all-boxes {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  align-content: center;
  gap: 60px;
  align-items: center;
}

.box-one,
.box-two,
.box-three {
  background-color: #dedede;
  margin-top: 25px;
  border: solid 2px black;
  height: 300px;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 20px;
}
